

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e0f2ff; /* very light blue */
}

::-webkit-scrollbar-thumb {
  background: #5f9ac5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #54b6e7;
}
